body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: white;
    height: 100vh; /* Full viewport height */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #e50914;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the iframe vertically */
    height: calc(100vh - 80px); /* Full height minus header */
}

#movie-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

iframe {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border: none; /* No border */
}
